body {
	background: #0b2d35;
	width: 1050px;
	margin: 0 auto;
	font-family: "Lucida Console", Monaco, monospace;
	color: #baa0c7;
 }


div{
	border: 2px solid #296273;
	padding: 20px;
}

h1{
	color:#cbe9ec;
	font-weight: bold;
	text-align:center;
}

.username{
	text-decoration: none;
	font-wight: bold;
	color: #b95be8;
}

.username:hover{
	text-decoration: underline;
	color: #74607d;
}

.tweet {
	margin: 15px 0;
}

.timestamp {
	font-size: 75%;
	float: right;
}

.refreshLinkButton {
	float: right;
	margin: 5px 0;
	color: #fff;
	background-color: #0f9c9c;
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.42857143;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #0a8c8c;
	border-radius: 4px;
	text-decoration: none;
}

.refreshLinkButton:hover {
	background-color: #80539d;
	border-color: #6c35a8;
	text-decoration: underline;
}
