body {
  background: #0b2d35;
  width: 750px;
  margin: 0 auto;
  font-family: "Lucida Console", Monaco, monospace;
  color: #baa0c7;
}

h1{
	color:#cbe9ec;
	font-weight: bold;
	text-align:center;
}

.username{
	text-decoration: none;
	font-wight: bold;
	color: #b95be8;
}

.username:hover{
	text-decoration: underline;
	color: #74607d;
}

.tweet {
  margin: 15px 0;
}

.timestamp {
	font-size: 75%;
	float: right;
}